/* $Id: sweaver_plugin.admin.css,v 1.1.4.2 2010/11/05 22:02:02 swentel Exp $ */

/* Plugins configuration */

#plugins-configuration-form .form-checkbox {
  float: left;
}
#plugins-configuration-form .description {
  float: left;
  margin-left: 5px;
}